.logon{text-align:center;}

.qui{text-align: center;}

.gigi{text-align: center;}
/* a me sembra tutto esatto  però non funziona 
ho perso praticamente tutte le ora  per cercare di capire . dopo la lezione di oggi mi riguardo il video per cercare di capire cosa  non andava  */